.selectDishContainer > div:first-of-type {
    margin: 1rem 0;
}

.selectDishContainer > div:nth-of-type(2) {
    margin: 1rem 0;
}

.selectDishContainer > form > div > div {
    margin: 1rem 0;
}

.selectDishHeadings {
    display: flex;
}

.selectDishHeadings > div:first-child {
    width: 50%;
    text-align: left
}

.dishSelectRow {
    display: flex;
    margin-bottom: 1rem;
}

.dishSelectRow > label {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    padding-top: 2px;

}

.selectDishContainer > form > .dishSelectRow > div {
    margin: 0;
}

.addDish {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgb(171, 185, 199);
    border: 1px solid whitesmoke;
    opacity: .8;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-weight: 600;
    font-size: 1rem;
    float: left;
    margin-top: 2rem;
}

.addDish:hover {
    border: 2px solid whitesmoke;
    opacity: 1;
    font-weight: 700;
}