.App {
  text-align: center;
}

.App-header {
  background-color: #22262c;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  color: white;
  background-color: #3e4a62;
  font-size: calc(10px + 1vmin);
  min-height: 90vh;
}

.contents {
  width: 40vw;
  margin: 0 auto;
  padding: 2rem 0;
  height: 35vh;
  position: relative;
}

.progressBar {
  width: fit-content;
  margin: 0 auto;
  transform: translateY(1rem);
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
}

.progressBar > span {
  background-color: white;
  color: rgb(66, 65, 65);
  padding: 0 5px;
  border: 1px solid rgb(66, 65, 65);
  opacity: 0.7;
}

.progressBar > .active {
  opacity: 1;
}

.errorMsg {
  color: orangered;
  font-weight: 700;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}
